<!-- Blog Section -->
<section class="blog-section" id="blog-section">
    <h2>Blog</h2>
    <div class="blog-posts">
        <article class="blog-post">
            <h3 onclick="window.open('blog/post1.html', '_blank')">Título del Post 1</h3>
        </article>
        <article class="blog-post">
            <h3 onclick="window.open('blog/post2.html', '_blank')">Título del Post 2</h3>
        </article>
        <article class="blog-post">
            <h3 onclick="window.open('blog/post3.html', '_blank')">Quotes I live by</h3>
        </article>
    </div>
</section>
