<!-- Blog Section -->
<section class="blog-section" id="blog-section">
    <h2>Blog</h2>
    <div class="blog-posts">
        <article class="blog-post">
            <h3 onclick="window.location.href='blog/post1.html'">Título del Post 1</h3>
        </article>
        <article class="blog-post">
            <h3 onclick="window.location.href='blog/post2.html'">Título del Post 2</h3>
        </article>
        <article class="blog-post">
            <h3 onclick="window.location.href='blog/post3.html'">Quotes I live by</h3>
        </article>
    </div>
</section>
