<!-- Profile Section -->
<section class="profile-section">
    <div class="profile-image">
        <img src="images/aniol2.jpeg" alt="Foto de perfil" style="width:100%; height:100%; object-fit:cover; border-radius:inherit;">
    </div>
    <h1 class="profile-name">Hi, I'm Aniol</h1>
    <div class="profile-subtitle">Engineer in Data Science</div>
    <div class="about-text">
        <p>
            Hey! My name is Aniol Petit, and I don't sit still for long. I'm always chasing the next challenge, no matter how big, because ambition has always been the fuel that keeps me moving.
            <br><br>
            I’m determined by nature. If I set my mind on something, I’ll work at it relentlessly until it’s done, whatever it takes. Setbacks don’t discourage me, they just make the win more satisfying.
            <br><br>
            At the end of the day, I believe progress comes from pushing yourself past what’s comfortable. That’s what drives me — in work, in life, and in everything I take on.
        </p>
    </div>  
</section>
